.NavigationBar {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.NavigationBar .navigation-container {
	display: flex;
  padding: 0.7em;
  justify-content: space-between;
	align-items: center;
}

.NavigationBar .brand {
  margin: 0;
}

.NavigationBar .navigation-buttons {
	display: flex;
	align-items: baseline;
}

.NavigationBar .navigation-buttons > *:not(:last-child) {
	margin-right: 1em;
}